.settings/*
.buildpath
.project
application/cache/*
#application/config/database.php
#application/config/config.php
#application/config/email.php
application/logs/*
media/uploads/*
.htaccess
error_log
.ftpquota
